.navbar {
  padding: var(--spacing-l) 120px;
  display: flex;
  align-items: center;
  margin-top: var(--spacing-l);
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.logo-icon {
  width: 34px;
  height: 34px;
}

.logo-text {
  font: var(--font-display-extra-small);
  color: var(--content-primary);
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
