.navbar {
  padding: var(--spacing-l) 120px 0;
  display: flex;
  align-items: center;
  margin-top: var(--spacing-s);
}

.navbar-inner {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.logo-icon {
  width: 34px;
  height: 34px;
}

.logo-text {
  font: var(--font-display-extra-small);
  color: var(--content-primary);
  letter-spacing: 0.005em;
  text-transform: uppercase;
}
