.navbar {
  padding-top: var(--spacing-l);
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
  align-items: center;
  margin-top: var(--spacing-s);
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.logo-icon {
  width: 34px;
  height: 34px;
}

.logo-text {
  font: var(--font-display-extra-small);
  color: var(--content-primary);
  letter-spacing: 0.005em;
  text-transform: uppercase;
}
